:root {
    --orange: #fb8500;
    --yellow: #ffb703;
    --dark-blue: #14213d;
    --deep-blue: #22223b;
    --light-blue: #219ebc;
    --brown: #dda15e;
    --light-brown: #faedcd;
}

@font-face {
    font-family: 'SansitaSwashed';
    src: url('./SansitaSwashed.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'JuliusSansOne';
    src: url('./JuliusSansOne-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Farro-Regular';
    src: url('./Farro-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Farro-Light';
    src: url('./Farro-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Farro-Bold';
    src: url('./Farro-Bold.ttf') format('truetype');
    font-style: normal;
}

body {
    margin: 0;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light-brown);
}

.header {
    font-family: 'JuliusSansOne';
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--dark-blue);
    box-shadow: 5px 5px 8px var(--light-blue);
    opacity: 0.9;
}

.links {
    display: flex;
    align-items: center;
    gap: 7rem;
    font-size: calc(1rem + 0.5vw);
}

.link a {
    text-decoration: none;
    color: var(--orange);
}

.link:hover a {
    color: var(--yellow);
}

.title {
    user-select: none;
    color: var(--orange);
    font-size: calc(1rem + 1.5vw);
}

.welcome {
    color: var(--brown);
    width: fit-content;
    height: fit-content;
    margin-top: 10vh;
    margin-left: 15vw;
}

.welcome > span {
    font-family: 'SansitaSwashed';
    font-size: calc(3rem + 2vw);
    padding: calc(1rem + 1vw);
}

.welcome > p {
    font-family: 'SansitaSwashed';
    font-size: calc(2rem + 0.5vw);
    padding-left: calc(1rem + 1vw);
    text-align: center;
    width: 55%;
}

.footer {
    font-family: 'Farro-Regular';
    margin-top: auto;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--orange);
    border-top: 3px solid var(--light-blue);
}

.footer > a {
    font-family: 'Farro-Regular';
    color: var(--brown);
    text-decoration: none;
}

.menu-header {
    display: flex;
    gap: 15px;
    align-self: center;
    margin-top: calc(1rem + 3vh);
}

.menu-header > img {
    max-width: 100px;
    max-height: 100px;
}

.menu-header > span {
    color: var(--dark-blue);
    font-size: 5rem;
    font-family: 'SansitaSwashed';
    text-align: center;
    text-decoration: underline;
}

.menu-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: calc(2rem + 3vw);
    justify-items: center;
    background-color: var(--light-brown);
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: 'image' 'text';

    border-radius: 18px;
    background: var(--deep-blue);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card:hover {
    background: #457b9d;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-image#one {
    grid-area: image;
    background: url('./pancakes.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text > h2 {
    color: var(--orange);
    font-family: 'Farro-Bold';
    font-size: 1.7rem;
    margin: 0;
}

.card:hover h2 {
    color: #2b2d42;
    transition-duration: 1s;
    text-decoration: underline;
    font-size: 2.2rem;
}

.card-text > span {
    color: var(--orange);
    font-family: 'Farro-Bold';
    font-size: 1.7rem;
}

.card-text > p {
    color: var(--yellow);
    font-family: 'Farro-Light';
    font-size: 1rem;
}

/* TODO: ADD MORE CARDS AND ADD MEDIA QUERIES */
