:root {
    --orange: #fb8500;
    --yellow: #ffb703;
    --brown: #dda15e;
    --light-brown: #faedcd;
    --dark-blue: #14213d;
    --deep-blue: #22223b;
    --light-blue: #219ebc;
    --cold-blue: #457b9d;
    --light-pink: #e7c6ff;
    --green: #8ac926;
}

@font-face {
    font-family: 'SansitaSwashed';
    src: url('./SansitaSwashed.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'JuliusSansOne';
    src: url('./JuliusSansOne-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Farro-Regular';
    src: url('./Farro-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Farro-Light';
    src: url('./Farro-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Farro-Bold';
    src: url('./Farro-Bold.ttf') format('truetype');
    font-style: normal;
}

body {
    margin: 0;
    background-color: var(--light-brown);
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* || Header */

.header {
    font-family: 'JuliusSansOne';
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--dark-blue);
    box-shadow: 5px 5px 8px var(--light-blue);
    opacity: 0.9;
}

.links {
    display: flex;
    align-items: center;
    gap: calc(4rem + 1vh);
    font-size: calc(1rem + 0.5vw);
}

.link a {
    cursor: pointer;
    text-decoration: none;
    color: var(--orange);
}

.link:hover a {
    color: var(--yellow);
}

.title {
    user-select: none;
    color: var(--orange);
    font-size: calc(1rem + 1.5vw);
}

/* || Homepage */

.welcome {
    display: flex;
    flex-direction: column;
    color: var(--dark-blue);
    max-width: 1000px;
    max-height: 300px;
    padding: 1.5rem;
    margin-top: 10vh;
    margin-left: 15vw;
    border-radius: 3rem;
    text-align: center;
    background-color: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0), linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0);
    background-size: 30px 30px;
}

#hero-title {
    font-family: 'SansitaSwashed';
    font-size: calc(3rem + 2vw);
    margin: calc(1rem + 0.5vw);
    background-color: var(--light-brown);
    padding: 5px;
    border-radius: 25px;
}

#hero-text {
    font-family: 'SansitaSwashed';
    font-size: calc(2rem + 0.5vw);
    text-align: center;
    padding: 5px;
    background-color: var(--light-brown);
    border-radius: 25px;
}

/* || Footer */

.footer {
    font-family: 'Farro-Regular';
    margin-top: auto;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--orange);
    border-top: 3px solid var(--light-blue);
    opacity: 0.9;
}

.footer > a {
    font-family: 'Farro-Regular';
    color: var(--brown);
    text-decoration: none;
}

.menu-header,
.contact-header {
    display: flex;
    align-self: center;
    place-items: center;
    gap: 15px;
    margin-top: calc(1rem + 3vh);
}

.contact-header > span {
    color: var(--dark-blue);
    font-size: calc(2rem + 2vw);
    font-family: 'SansitaSwashed';
    text-align: center;
    text-decoration: underline;
    padding-bottom: calc(2rem + 1vh);
}

/* || Menu */

.menu-header > img {
    max-width: calc(2rem + 2vw);
    max-height: calc(2rem + 2vw);
}

.menu-header > span {
    color: var(--dark-blue);
    font-size: calc(2rem + 2vw);
    font-family: 'SansitaSwashed';
    text-align: center;
    text-decoration: underline;
}

.menu-cards {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(2rem + 2vw);
    padding-bottom: calc(2rem + 2vw);
    justify-items: center;
    background-color: var(--light-brown);
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
    grid-template-rows: repeat(auto-fill, minmax(300px, 400px));
    grid-template-areas: 'image' 'text';

    border-radius: 18px;
    background: var(--deep-blue);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card:hover {
    background: var(--cold-blue);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text > h2 {
    color: var(--orange);
    font-family: 'Farro-Bold';
    font-size: 1.7rem;
    margin: 0;
}

.card:hover h2 {
    color: var(--deep-blue);
    transition-duration: 1s;
    text-decoration: underline;
    font-size: 2.2rem;
}

.card-text > span {
    color: var(--orange);
    font-family: 'Farro-Bold';
    font-size: 1.7rem;
}

.card-text > p {
    color: var(--yellow);
    font-family: 'Farro-Light';
    font-size: 1rem;
}

span.sale-tag {
    text-decoration: line-through;
    padding-right: 0.5rem;
    color: var(--light-pink);
    opacity: 0.5;
}

span.sale {
    color: var(--green);
}

/* || Contact */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: calc(5rem + 5vh);
}

.contact-details {
    display: flex;
    flex-direction: column;
    padding: calc(1rem + 1vw);
    place-self: center;
    background-color: var(--dark-blue);
    margin: calc(1rem + 3vh);
    border-radius: 35px;
    gap: 1rem;
}

.phone,
.work-times {
    font-size: 1.2rem;
    font-family: 'JuliusSansOne';
    color: var(--orange);
    line-height: 2.5rem;
}

#weekend {
    padding-left: 35px;
}

#phone-icon,
#clock-icon {
    max-width: 35px;
    max-height: 35px;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* || FORM */

.contact-form {
    display: flex;
    place-self: center;
    padding: calc(1rem + 2vw);
    margin: calc(1rem + 2vh);
    background-color: var(--deep-blue);
    border-radius: 25px;
}

form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #cc6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #cc4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type='submit'] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #cc6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
[type='submit']:hover {
    background: #cc4949;
}

/* || Media Queries */

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
    }

    .title {
        place-self: center;
        margin-bottom: calc(1rem + 1vh);
    }

    .links {
        place-self: center;
    }

    .welcome {
        margin-left: 0;
    }

    #hero-title {
        font-size: 1.5rem;
        margin: 0;
    }

    #hero-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 525px) {
    .link a {
        float: none;
        width: 100%;
    }

    .links {
        flex-direction: column;
        gap: calc(1rem + 1vh);
    }
}
